
				
<!-- start: Main Menu -->
<div id="sidebar-left" class="span2">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			<li><!--<a href="/admin/dashboard">--><a href="#"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>	
			<li><a href="/admin/business"><i class="halflings-icon white user" style="width:16px;margin-left:3px"></i><span class="hidden-tablet">Business Profile</span></a></li>
			<li><a href="/admin/members"><i class="halflings-icon white user" style="width:16px;margin-left:3px"></i><span class="hidden-tablet">Web Members</span></a></li>
			<li><a href="/admin/appmembers"><i class="halflings-icon white user" style="width:16px;margin-left:3px"></i><span class="hidden-tablet"> App Members</span></a></li>
			<li><a href="/admin/yabs"><i class="icon-envelope"></i><span class="hidden-tablet"> Yabs</span></a></li>
			<li><a href="/admin/cms"><i class="icon-list-alt"></i><span class="hidden-tablet"> CMS</span></a></li>	
			<li><a href="/admin/logout"><i class="icon-lock"></i><span class="hidden-tablet"> Logout</span></a></li>
		</ul>
	</div>
</div>
<!-- end: Main Menu -->
			
			
